[submodule "proxy"]
path = proxy
url = ../trace-proxy.git
branch = main
ignore = all
[submodule "lib"]
path = lib
url = ../Proton.Common.git
branch = main
ignore = all
[submodule "docs"]
path = docs
url = ../trace-docs.git
branch = main
ignore = all
[submodule "website"]
path = website
url = ../trace-website.git
branch = main
ignore = all