[submodule "client"]
path = client
url = ../trace-client.git
[submodule "proxy"]
path = proxy
url = ../trace-proxy.git
[submodule "docs"]
path = docs
url = ../trace-docs.git
[submodule "website"]
path = website
url = ../trace-website.git
[submodule "charts"]
path = charts
url = ../trace-helm-charts.git
