// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
@import '../node_modules/quasar/src/css/variables.sass';

$dark: #1d1d1d;

$positive: #21ba45;
$negative: #c10015;
$info: #31ccec;
$warning: #f2c037;

$grey: #9e9e9e !default;
$grey-1: #fafafa !default;
$grey-2: #f5f5f5 !default;
$grey-3: #eeeeee !default;
$grey-4: #e0e0e0 !default;
$grey-5: #bdbdbd !default;
$grey-6: #9e9e9e !default;
$grey-7: #757575 !default;

$indigo: #3f51b5 !default;
$indigo-0: #f5f6fc !default;
$indigo-01: #ecedf6 !default;
$indigo-1: #e8eaf6 !default;
$indigo-2: #c5cae9 !default;
$indigo-3: #9fa8da !default;
$indigo-4: #7986cb !default;
$indigo-5: #5c6bc0 !default;
$indigo-6: #3f51b5 !default;
$indigo-7: #3949ab !default;

/** Application theme colors */
$primary: $indigo-7;
$primary-darkend: $indigo-1;
$primary-1: $indigo-6;
$primary-1-darkend: $indigo-2;
$secondary: $indigo-3;
$secondary-darkend: $indigo-1;
$space: #a4a2c3;
$accent: #827fb3;
$accent-darkend: #f1edff;
$app-shade: rgba(0, 0, 0, 0.5);
$app-shade-darkened: rgba(255, 255, 255, 0.5);

$font-family: 'Roboto', 'Poppins', sans-serif;
$body-font-family: $font-family !important;
$heading-font-family: $font-family !important;

$separator-color: rgba(57, 55, 84, 0.12) !default;
$separator-dark-color: rgba(46, 44, 72, 0.28) !default;

$border-radius-xs: 0.25rem !default;
$border-radius-sm: 0.5rem !default;
$border-radius-md: 1rem !default;
$border-radius-lg: 1.5rem !default;
$border-radius-xl: 2rem !default;
$border-radius-xxl: 3rem !default;

$button-border-radius: $border-radius-sm !default;
$button-padding: 4px 16px !default;
$button-dense-padding: 0.285em !default;
$button-font-size: 14px !default;
$button-line-height: 1.715em !default;
$button-font-weight: 300 !default;
$button-shadow: $shadow-1 !default;
$button-shadow-active: $shadow-4 !default;

$header-height: 56px !default;
