.identity-form {
  min-width: 35vw;
}

@media screen and (max-width: 768px) {
  .identity-form {
    min-width: 86vw;
  }
}

@media screen and (max-width: 960px) {
  .identity-form {
    min-width: 55vw;
    margin-top: 120px;
  }
}

@media screen and (min-width: 960px) {
  .identity-form {
    min-width: 485px;
    max-width: 540px !important;
  }
}

.identity-text,
.q-checkbox__label {
  font-size: 0.998rem;
  color: var(--q-action);
}

.identity-link {
  color: var(--q-action);
  text-decoration: none;
  cursor: grab;
}
